body {}
h1 {color:dimgray;

    }
img {position: absolute;
    width: 150px;
    right: 50px;
    top: 18px;
    }
   .divClass {}
#encabezado {position: relative;
          width: 700px;
          height: 180px;
          background: gainsboro;
          padding-left: 50px;
          border: 5px solid black}

#cuerpo {font-size: 15px;
        width: 700px;
        height: 700px;
        padding-left: 50px;
        margin-top: 10px;
        border: 2px solid gray;

        ;
      }

.titulos{font-size: 18px;
        background-color: black;
        color: snow;
        padding-left: 50px;
        padding-bottom: 7px;
}
.secciones{
        position: relative;

}
