body {}
h1 {color:red;
    font-size: 25px}
img {width: 400px}
   .divClass {}
#thirdDiv {width: 500px;
          height: 700px;
          background: mediumaquamarine;
          padding: 50px;
          border: 5px solid black}

#spanId {font-size: 20px;
        margin: 50px}
